:root{
  --height: 500000px;
}

body {
  margin: 0;
}

.header{
  grid-area: header;
}

.anim{
  grid-area: left;
  animation: popup-animation 0.5s ease-in-out;
  /*transition: all 5s ease-in-out;*/
}

@keyframes popup-animation {
  0% {
    opacity: 0;
    /*transform: translate(-50%, -50%) scale(0.5);*/
  }
  100% {
    opacity: 1;
    /*transform: translate(-50%, -50%) scale(1);*/
  }
}

.main{
  grid-area: main;
}

.right{
  grid-area: right;
}


.grid{
  display:grid;
  height: var(--height);
  grid-template-areas:
    'header header header'
    'left main right';
  gap: 10px;
  padding: 10px;
  grid-template-rows: calc(var(--height)*10/100) calc(var(--height)*80/100) min-content;;
  grid-template-columns: 1fr 5fr 1fr;
  background-image: url('Untitled.jpeg');
}

.grid > div {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
