:root{
  --height: 5200px;
}

body {
  margin: 0;
  background-image: url('Archive/Grand\ fond.png');
  background-size: 100%;
  height: var(--height);
}

.header{
  grid-area: header;
}

.anim{
  animation: popup-animation 0.5s ease-in-out;
  /*transition: all 5s ease-in-out;*/
}
img{
  max-width: 100%;
    height: auto;
}
@keyframes popup-animation {
  0% {
    opacity: 0;
    /*transform: translate(-50%, -50%) scale(0.5);*/
  }
  100% {
    opacity: 1;
    /*transform: translate(-50%, -50%) scale(1);*/
  }
}

.main{
  grid-area: main;
}

.right{
  grid-area: right;
}


.grid{
  display:grid;
  height: var(--height);
  grid-template-areas:
    'header header header'
    'left1 main right'
    'left2 main right'
    'left main right'
    'left main right'
    'left main right'
    'left main right';
  gap: 10px;
  padding: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid > div {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 30px;
}
