:root{
  --height: 5000px;
}

body {
  background-image: url('Untitled.jpeg');
}

.header{
  grid-area: header;
}

.left{
  grid-area: left;
}

.main{
  grid-area: main;
}

.right{
  grid-area: right;
}

.grid{
  display:grid;
  height: var(--height);
  grid-template-areas:
    'header header header'
    'left main right';
  gap: 10px;
  padding: 10px;
  grid-template-rows: calc(var(--height)*10/100) calc(var(--height)*80/100);
  grid-template-columns: 1fr 5fr 1fr;
}

.grid > div {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}